{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title">{{ title }}</h2>

    <form action="" method="post" name="delete_platform">
        <div class="form-row">
            <p>Delete the <em>{{ platform.title }}</em> Platform?</p>
        </div>
        <div class="form-row form-submit">
            <input type="submit" value="Delete" />
            <a href="{{ url_for('admin_platforms') }}">Cancel</a>
        </div>
    </form>

</div>

{% endblock %}
