{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title">{{ title }}</h2>

    <form action="" method="post" name="delete_community_review">
        <div class="form-row">
            <p>Delete <em>{{ community_review.game.title }} - {{ community_review.game.platform.title }} (#{{ community_review.id }})</em>?</p>
        </div>
        <div class="form-row form-submit">
            <input type="submit" value="Delete" />
            <a href="{{ url_for('admin_community_reviews') }}">Cancel</a>
        </div>
    </form>

</div>

{% endblock %}
