{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title"><a href="{{ url_for('admin') }}">Dashboard</a>{% if title %} - {{ title }}{% endif %}</h2>

    <form class="admin-form" action="" method="post" name="new_game" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
            {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.platform_id.label }}</label>
            {{ form.platform_id }}
            {% if form.platform_id.errors %}
            <ul class="errors">
                {% for error in form.platform_id.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.release_date.label }}</label>
            {{ form.release_date }}
            {% if form.release_date.errors %}
            <ul class="errors">
                {% for error in form.release_date.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.official_url.label }}</label>
            {{ form.official_url }}
            {% if form.official_url.errors %}
            <ul class="errors">
                {% for error in form.official_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.amazon_url.label }}</label>
            {{ form.amazon_url }}
            {% if form.amazon_url.errors %}
            <ul class="errors">
                {% for error in form.amazon_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row form-submit">
            <input type="submit" value="Submit" />
        </div>
    </form>

    {% if games %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Platform</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
    {% for game in games %}
        <tr>
            <td>{{ game.title}}</a></td>
            <td>{{ game.platform.title }}</td>
            <td>{{ game.release_date.strftime('%Y-%m-%d') }}</td>
            <td><a href="{{ url_for('admin_game', game_id=game.id) }}">Edit</a>{% if not game.community_reviews %} | <a href="{{ url_for('admin_delete_game', game_id=game.id) }}">Delete</a>{% endif %} | <a href="{{ url_for('admin_new_community_review', game_id=game.id) }}">New Community Review</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}
