{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title">{% if title %}{{ title }}{% endif %}</h2>

    <form class="admin-form" action="" method="post" name="new_community_review">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <label>{{ form.game_id.label }}</label>
            {{ form.game_id }}
            {% if form.game_id.errors %}
            <ul class="errors">
                {% for error in form.game_id.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.reddit_id.label }}</label>
            {{ form.reddit_id }}
            {% if form.reddit_id.errors %}
            <ul class="errors">
                {% for error in form.reddit_id.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.reddit_permalink.label }}</label>
            {{ form.reddit_permalink }}
            {% if form.reddit_permalink.errors %}
            <ul class="errors">
                {% for error in form.reddit_permalink.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.subreddit.label }}</label>
            {{ form.subreddit }}
            {% if form.subreddit.errors %}
            <ul class="errors">
                {% for error in form.subreddit.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.date_posted.label }}</label>
            {{ form.date_posted }}
            {% if form.date_posted.errors %}
            <ul class="errors">
                {% for error in form.date_posted.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.open_for_comments.label }}</label>
            {{ form.open_for_comments }}
            {% if form.open_for_comments.errors %}
            <ul class="errors">
                {% for error in form.open_for_comments.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row form-submit">
            <input type="submit" value="Submit" />
        </div>
    </form>

</div>

{% endblock %}
