Flask==0.10.1
Flask-Admin==1.0.7
Flask-Bootstrap==3.1.1.2
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Flask-WTF==0.9.5
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
SQLAlchemy==0.9.3
WTForms==1.0.5
Werkzeug==0.9.4
alembic==0.6.3
decorator==3.4.0
distribute==0.7.3
gunicorn==18.0
itsdangerous==0.23
praw==2.1.15
requests==2.2.1
six==1.6.1
update-checker==0.10
wsgiref==0.1.2
psycopg2
