/* CUSTOM STYLES */
body {
  padding-top: 90px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.well h3, .well h4 {margin-top: 0;}

.page-header, .page-header h2, .page-header h1 {margin-top: 0;}

.navbar-inverse .navbar-brand {color: #FFFFFF;}

#content {padding: 0 0 30px;}

#footer {border-top: 1px solid #DDDDDD; padding: 20px 0; text-align: center;}
