/* CUSTOM STYLES */
body {
  padding-top: 100px;
  line-height: 1.52857143;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.clear {clear: both;}

.divider {border-bottom: 1px solid #dce4ec; clear: both; height: 14px; margin-bottom: 20px; width: 100%;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: bold;}

.well h3, .well h4 {margin-top: 0;}

.page-header, .page-header h2, .page-header h1 {margin-top: 0;}

.navbar-inverse .navbar-brand {color: #FFFFFF;}

#content {padding: 0 0 30px;}

#footer {border-top: 1px solid #DDDDDD; padding: 20px 0; text-align: center;}

.meta {font-size: 14px;}

/** sidebar **/
.sidebar-module {margin-bottom: 20px;}

.sidebar-module ul {margin-bottom: 0; padding-left: 20px;}
.sidebar-module ul li {padding-bottom: 6px;}
.sidebar-module ul li.last {padding-bottom: 0;}

/** listing **/
.listing .list-item {border-bottom: 1px solid #ecf0f1; margin-bottom: 17px; padding-bottom: 20px;} 
.listing .list-item.last {border-bottom: 0 none; margin-bottom: 0; padding-bottom: 0;}

.listing .list-item h3 {margin-bottom: 5px;}
.listing .list-item p.meta {margin-bottom: 15px;}

.listing .list-item a.more {font-size: 17px; font-weight: bold;}

/** thread details **/
.rating-avg {background-color: #2c3e50; color: #ecf0f1; font-weight: bold; font-size: 28px; line-height: 34px; margin: 2px 15px 3px 0; padding: 7px 12px 4px; text-align: center;}
.rating-avg span {color: #6C767F; font-size: 14px;}

ul.details {display: block; margin: 0 0 10px; padding: 0;}
ul.details li {font-size: 16px; list-style-type: none; margin: 0; padding: 0 0 4px;}
ul.details li span.detail-label {font-weight: bold;}

/** thread **/
.thread h2 {margin-bottom: 3px;}

#comments-title {margin-bottom: 22px;}

.comments {border-top: 1px solid #ecf0f1; margin-top: 20px;} 
.comment {border-bottom: 1px solid #ecf0f1; margin-bottom: 15px; padding-bottom: 15px;}
.comment.last {border-bottom: 0 none; margin-bottom: 0; padding-bottom: 0;}
.comment h4 span.review-details {font-size: 14px;}

.helpful-links {border: 2px solid #2c3e50; font-weight: bold; line-height: 22px;}
.submit-review ul {margin: 0 0 0 10px; padding: 0 0 0 20px;}

/** create thread **/
ul.errors {display: block; list-style-type: none; margin: 0; padding: 6px 0 0;}
ul.errors li {font-style: italic;}

/** edit thread **/
#closedelete {margin-top: 15px;}

/** user profile **/
#profile-content .listing {border-bottom: 1px solid #ecf0f1; padding-bottom: 15px;}
#user-comments {border-top: 0 none; margin-top: 0;}
#user-comments .comment ul.details {margin-bottom: 0;}

@media screen and (max-width: 768px) {

    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        position: static;
    }

    #main {border-bottom: 1px solid #ecf0f1; margin-bottom: 25px; padding-bottom: 20px;}

    .rating-avg {font-size: 22px; line-height: 28px;}

}

@media screen and (max-width: 480px) {

    .rating-avg {font-size: 20px; line-height: 26px;}

}
