{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <div class="blog-post">
        
        <h2 class="page-title">About Reddit Game Reviews</h2>

        <p>Reddit Game Reviews is a 3rd party reddit app that allows redditors to create Community Reviews of video games by commenting on reddit posts using a specific review format. <a href="{{ url_for('how_it_works') }}">Click here to learn how it works</a>.</p>

        <p>Reddit Game Reviews was created as a <a href="http://groupsrc.com" target="_blank">GroupSRC.com</a> project. GroupSRC was started by brothers <a href="http://twitter.com/daviddigiovanni" target="_blank">David DiGiovanni</a> and <a href="http://twitter.com/pauliedigi" target="_blank">Paul DiGiovanni</a> to explore the possibilities of reddit to facilitate communication between leaders and audiences.</p>

        <p>Reddit Game Reviews fits into the GroupSRC mission by allowing reddit communities to create content together and articulate their opinions collectively. At it's core, Reddit Game Reviews is a content management system that allows subreddits to create pieces of content together without leaving the reddit interface.</a>

        <p><strong>Reddit Game Reviews demonstrates a interesting potential for reddit communities. Reviewing video games is just one way redditors can create content together. The app allows redditors to create many different types of reviews together and learn more about what they collectively think.</strong></p>

    </div>

</div>

{% endblock %}

