{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title"><a href="{{ url_for('admin') }}">Dashboard</a>{% if title %} - {{ title }}{% endif %}</h2>

    {% if community_reviews %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Game</th>
                <th>Platform</th>
                <th>Date Posted</th>
                <th>Subreddit</th>
                <th>Actions</th>
            </tr>
        </thead>
    {% for community_review in community_reviews %}
        <tr>
            <td>{{ community_review.id }}</td>
            <td><a href="{{ url_for('community_review', platform_slug=community_review.game.platform.slug, game_slug=community_review.game.slug, community_review_id=community_review.id) }}">{{ community_review.game.title}}</a></td>
            <td>{{ community_review.game.platform.title }}</td>
            <td>{{ community_review.date_posted.strftime('%Y-%m-%d %I:%M %p') }}</td>
            <td>
                {% if community_review.reddit_permalink %}
                <a href="{{ community_review.reddit_permalink }}" target="_blank">{{ community_review.subreddit }}</a>
                {% else %}
                {{ community_review.subreddit }}
                {% endif %}
            </td>
            <td><a href="{{ url_for('admin_community_review', community_review_id=community_review.id) }}">Edit</a> | <a href="{{ url_for('admin_delete_community_review', community_review_id=community_review.id) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}
