{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p>{{ config['APP_NAME'] }} is a 3rd party reddit app that enables redditors to rate things together and then archives those ratings on this website.</p>
    
    <p>The purpose of the {{ config['APP_NAME'] }} app is to enable subreddits to create a more advanced type of content together. {{ config['APP_NAME'] }} helps subreddits express their collective opinion in the form of an average rating. This helps the subreddit communicate among themselves and to others outside of the community.</p>

    <p>{{ config['APP_NAME'] }} is a <a href="http://groupsrc.com" target="_blank">GroupSRC</a> project. GroupSRC was started by brothers <a href="http://twitter.com/daviddigiovanni" target="_blank">David DiGiovanni</a> and <a href="http://twitter.com/pauliedigi" target="_blank">Paul DiGiovanni</a> to explore how technology can help crowds communicate more effectively. We believe reddit makes crowds smarter and want to develop tools that expand the reddit platform.</p>

    <p><strong><a href="{{ url_for('how_it_works') }}">Learn how {{ config['APP_NAME'] }} works</strong></a></p>

{% endblock %}

{% block sidebar %}

<div class="sidebar-module well">

    <h4>Connect</h4>
    <ul>
        <li><a href="http://twitter.com/{{ config['APP_NAME'] }}" target="_blank">@{{ config['APP_NAME'] }} on Twitter</a></li>
        <li class="last"><a href="http://reddit.com/r/{{ config['APP_NAME'] }}" target="_blank">Subscribe to /r/{{ config['APP_NAME'] }}</a></li>
    </ul>

</div>


<div class="sidebar-module">

    <h4>How It Works</h4>
    <p><a href="{{ url_for('how_it_works') }}">Learn how {{ config['APP_NAME'] }} works with reddit</a></p>

</div>

<div class="sidebar-module">

    <h4>Feedback</h4>
    <p>The next major feature added to {{ config['APP_NAME'] }} will be the ability to create your own ratings. If you see any other issues or have an idea, please <a href="http://reddit.com/r/{{ config['APP_NAME'] }}" target="_blank">post it to /r/{{ config['APP_NAME'] }}</a> or <a href="http://www.reddit.com/message/compose/?to={{ config['APP_NAME'] }}&subject=Feedback" target="_blank">send me a pm on reddit</a>.</p>
    <p>If want to help implement features and fix issues, <a href="https://github.com/davedg629/{{ config['APP_NAME'] }}" target="_blank">check out the code on github</a>.</p>

</div>

{% endblock %}
