{% macro community_review_details(community_review, self) %}
{% if community_review.user_reviews.first() %}
<div class="pull-right community-rating">
    <div class="pull-right rating-avg">

        {{ community_review.get_avg_rating() }}
        <div class="out-of">out of 10</div>

    </div>
    <div class="clear"></div>
    <div class="rating-count">
        {% if not self %}
        Based on <a href="{{ url_for('community_review', category_slug=community_review.category.slug, community_review_slug=community_review.slug) }}">{{ community_review.get_review_count() }}</a>
        {% else %}
        Based on {{ community_review.get_review_count() }}
        {% endif %}
    </div>
</div>
{% endif %}

<ul class="details">

    <li>
        Posted on {{ community_review.date_posted.strftime('%b %d, %Y') }}
        {% if community_review.reddit_permalink %}to <a href="{{ community_review.reddit_permalink }}" target="_blank">r/{{ community_review.subreddit }}</a>{% endif %}
    </li>

    <li><span class="detail-label">Reddit Score:</span> &nbsp; {{ community_review.reddit_score }}</li>

    <li><span class="detail-label">Subreddit:</span> &nbsp; <a href="{{ url_for('subreddit', subreddit=community_review.subreddit) }}">{{ community_review.subreddit }}</a></li>

    <li><span class="detail-label">Category:</span> &nbsp; <a href="{{ url_for('category', category_slug=community_review.category.slug) }}">{{ community_review.category }}</a></li>

    {% if community_review.groups.first() %}
    <li><span class="detail-label">Tagged:</span> &nbsp;
    {% for group in community_review.groups %}
    <a href="{{ url_for('tag', tag_slug=group.slug) }}">{{ group }}</a>{% if not loop.last %} | {% endif %}            
    {% endfor %}
    {% endif %}
    </li>
</ul>
{% endmacro %}
