{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {% if page_title %}
    <div class="page-header">
        <h2>
            {{ page_title }}
            {% if session.logged_in %}
            <small> | <a href="{{ url_for('communityreview_model_view.edit_view', id=community_review.id) }}">Edit</a></small>
            {% endif %}
        </h2>
    </div>
    {% endif %}

    <p class="meta">
        Posted on {{ community_review.date_posted.strftime('%b %d, %Y') }}
        {% if community_review.reddit_permalink %}to <a href="{{ community_review.reddit_permalink }}" target="_blank">r/{{ community_review.subreddit }}</a>{% endif %}
    </p>

    <ul class="details">

        {% if user_reviews %}
        <li><span class="detail-label">Community Rating:</span> &nbsp; {{ community_review.get_avg_rating() }} out of 10</li>

        <li><span class="detail-label"># of User Reviews:</span> &nbsp; {{ community_review.get_review_count() }}
        {% endif %}

        <li><span class="detail-label">Reddit Score:</span> &nbsp; {{ community_review.reddit_score }}</li>

        <li><span class="detail-label">Category:</span> &nbsp; <a href="{{ url_for('category', category_slug=community_review.category.slug) }}">{{ community_review.category }}</a></li>

        {% if community_review.groups.first() %}
        <li><span class="detail-label">Tagged in:</span> &nbsp;
        {% for group in community_review.groups %}
        <a href="{{ url_for('tag', tag_slug=group.slug) }}">{{ group }}</a>{% if not loop.last %} | {% endif %}            
        {% endfor %}
        {% endif %}
        </li>
    </ul>

    {% if user_reviews %}

    <div class="user-reviews">

        <h3>User Reviews (sorted by reddit score):</h3>

        {% for user_review in user_reviews %}
        <div class="user-review{% if loop.last %} last{% endif %}">

            <h4><a class="redditor" href="{{ community_review.reddit_permalink}}{{ user_review.reddit_id }}" target="_blank">{{ user_review.user.username }}</a> &nbsp; <span class="review-details"><strong>Rating:</strong> {{ user_review.rating }} <span>out of 10</span> &nbsp; | &nbsp; <strong>Reddit Score:</strong> {{ user_review.reddit_score }}</span></h4>

            {% if user_review.review != '' %}
            <div class="review">
                {{ user_review.review }}
            </div>
            {% endif %}

            {% if session.logged_in %}
            <div class="actions">
                <a href="#">Delete</a>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>

    {% else %}

    <p><strong>No user reviews have been submitted yet!</strong></p>

    {% endif %}

</div>
{% endblock %}

{% block sidebar %}

    {% if community_review.open_for_comments %}
    <div class="sidebar-module well submit-review">

        <a href="http://redd.it/{{ community_review.reddit_id }}" target="_blank">Submit a review for<br />"{{ community_review.title }}"</a>

    </div>
    {% endif %}

    {{super()}}
    
{% endblock %}
