{% extends "my_base.html" %}

{% block page_content %}
<div class="community-review">

    {% import "community_review_macros.html" as community_review_macros %}
    {{ community_review_macros.loop(community_review, True) }}

    {% if user_reviews %}

    <div class="user-reviews">

        <h3 id="user-ratings">Most Helpful User Reviews:</h3>

        {% import "user_review.html" as user_review_macros %}
        {{ user_review_macros.user_review_loop(user_reviews) }}

    </div>

    {% else %}

    <p><strong>No user reviews have been submitted yet!</strong></p>

    {% endif %}

</div>
{% endblock %}

{% block sidebar %}

    {% if community_review.open_for_comments or (community_review.link_url and community_review.link_text) %}
    <div class="sidebar-module well submit-review">

        <h4>Helpful Links</h4>

        <ul>

            {% if community_review.open_for_comments %}
            <li><a href="http://redd.it/{{ community_review.reddit_id }}" target="_blank">Submit a review for "{{ community_review.title }}"</a></li>
            {% endif %}

            {% if community_review.link_url and community_review.link_text %}
            <li><a href="{{ community_review.link_url }}" target="_blank">{{ community_review.link_text }}</a></li>
            {% endif %}

        </ul>

    </div>
    {% endif %}

    {{super()}}
    
{% endblock %}
