{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {% if page_title %}
    <div class="page-header">
        <h2>
            {{ page_title }}
            {% if session.logged_in %}
            <small> | <a href="{{ url_for('communityreview_model_view.edit_view', id=community_review.id) }}">Edit</a></small>
            {% endif %}
        </h2>
    </div>
    {% endif %}

    {% import "community_review_details.html" as details %}
    {{ details.community_review_details(community_review, True) }}

    {% if user_reviews %}

    <div class="user-reviews">

        <h3 id="user-ratings">Most Helpful User Reviews:</h3>

        {% import "user_review.html" as review %}
        {% for user_review in user_reviews %}
            {{ review.user_review_macro(user_review) }}
        {% endfor %}
    </div>

    {% else %}

    <p><strong>No user reviews have been submitted yet!</strong></p>

    {% endif %}

</div>
{% endblock %}

{% block sidebar %}

    {% if community_review.open_for_comments %}
    <div class="sidebar-module well submit-review">

        <a href="http://redd.it/{{ community_review.reddit_id }}" target="_blank">Submit a review for<br />"{{ community_review.title }}"</a>

    </div>
    {% endif %}

    {{super()}}
    
{% endblock %}
