{% extends "my_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{{super()}}

<div class="well">

    <p><strong>PLEASE READ BEFORE SUBMITTING:</strong></p>

    <p>After you submit this form, a reddit thread will be created under your username. The reddit thread will feature the details you include as well as default instructions that explain how users can submit ratings in the comments section. <a href="http://www.reddit.com/r/Seattle/comments/25gc7k/how_would_you_rate_mayor_ed_murray_on_a_scale/" target="_blank">Click here to see a sample Community Rating thread on reddit</a>.</p>

</div>

<form method="post" class="form" role="form">
    
    {{ form.csrf_token }}

    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        {{ form.title.label(class="control-label") }}
        <p><span class="help-block">Describe what we are rating as accurately as possible.</span></p>
        {{ form.title(class="form-control", placeholder="Super Mario Bros. 3 for NES") }}
        {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.reddit_title.errors %} has-error{% endif %}">
        {{ form.reddit_title.label(class="control-label") }}
        <p><span class="help-block">This will be the title of your reddit thread. Choose a title that entices users to submit a rating. The [Community Rating] tag will be prepended to your title.</span></p>
        {{ form.reddit_title(class="form-control", placeholder="Let's rate Super Mario Bros. 3. Submit your 1 to 10 rating in the comments.") }}
        {% if form.reddit_title.errors %}
            <ul class="errors">{% for error in form.reddit_title.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        {{ form.description.label(class="control-label") }}
        <span class="help-block">Explain why you are creating this thread. This text will appear at the top of your reddit thread. Feel free to use reddit markdown.</span>
        {{ form.description(class="form-control", placeholder="This was my favorite game growing up and I'm wondering what rating you would give it from 1 to 10.", maxlength="600") }}
        {% if form.description.errors %}
            <ul class="errors">{% for error in form.description.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.subreddit.errors %} has-error{% endif %}">
        {{ form.subreddit.label(class="control-label") }}
        <span class="help-block">Choose an appropriate subreddit and do not prepend it with "/r/".</span>
        <div class="input-group">
            <span class="input-group-addon">/r/</span>
            {{ form.subreddit(class="form-control", placeholder="Gaming") }}
        </div>
        {% if form.subreddit.errors %}
            <ul class="errors">{% for error in form.subreddit.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>


    <div class="form-group{% if form.category.errors %} has-error{% endif %}">
        {{ form.category.label(class="control-label") }}
        <span class="help-block">This will categorize your thread here at RedditRatings.com.</span>
        {{ form.category(class="form-control") }}
        {% if form.category.errors %}
            <ul class="errors">{% for error in form.category.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %} 
    </div>

    <div class="divider"></div>

    {% if session.logged_in %}
    <div class="checkbox">
        <label>
            {{ form.test_mode }} Don't post to reddit? 
        </label>
    </div>
    {% endif %}

    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">

</form>

{% endblock %}
