<div class="sidebar-module well">

    <h4>About RedditReviewBot</h4>
    <p>RedditReviewBot allows redditors to create Community Reviews of anything by commenting on a reddit post using a specific format.</p>
    <a class="more" href="{{ url_for('about') }}">Learn More</a>

</div>

<div class="sidebar-module">

    <h4>Create Your Own Review</h4>
    <p>This feature is coming! Eventually, you will be able to put the RedditReviewBot to work. For now, you will have to <a href="http://www.reddit.com/message/compose/?to=redditreviewbot" target="_blank">send /u/redditreviewbot a pm on reddit</a> and we can make it happen.</p>
    <p>If you are a programmer and want to help implement an automated system, please <a href="https://github.com/davedg629/redditreviewbot" target="_blank">send a pull request on github</a>.</p>

</div>
