<div class="sidebar-module well">

    <h4>Follow RedditReviewBot</h4>
    <ul>
        <li><a href="http://twitter.com/redditreviewbot" target="_blank">@RedditReviewBot on Twitter</a></li>
        <li class="last"><a href="http://reddit.com/r/redditreviewbot" target="_blank">Subscribe to /r/RedditReviewBot</a></li>
    </ul>

</div>


<div class="sidebar-module">

    <h4>About RedditReviewBot</h4>
    <p>RedditReviewBot allows redditors to create Community Reviews of anything by commenting on a reddit post using a specific format.</p>
    <a class="more" href="{{ url_for('about') }}">Learn More</a>

</div>

<div class="sidebar-module">

    <h4>Feedback</h4>
    <p>The next major feature added to RedditReviewBot will be the ability to create your own reviews. If you see any other issues or have an idea, please <a href="http://reddit.com/r/redditreviewbot" target="_blank">post it to /r/RedditReviewBot</a> or <a href="http://www.reddit.com/message/compose/?to=redditreviewbot&subject=Feedback" target="_blank">send me a pm on reddit</a>.</p>
    <p>If want to help implement features and fix issues, <a href="https://github.com/davedg629/redditreviewbot" target="_blank">check out the code on github</a>.</p>

</div>
