{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}

<div class="col-sm-12 blog-main">

    <h2 class="page-title">{{ title }} - <a href="{{ url_for('show_review', console=review.console, slug=review.review_slug) }}">{{ review.game_title }}</a></h2>

    <form action="" method="post" name="edit_review_form">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <label>{{ form.game_title.label }}</label>
            {{ form.game_title }}
            {% if form.game_title.errors %}
            <ul class="errors">
                {% for error in form.game_title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.review_slug.label }}</label>
            {{ form.review_slug }}
            {% if form.review_slug.errors %}
            <ul class="errors">
                {% for error in form.review_slug.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.console.label }}</label>
            {{ form.console }}
            {% if form.console.errors %}
            <ul class="errors">
                {% for error in form.console.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.box_art_url.label }}</label>
            {{ form.box_art_url }}
            {% if form.box_art_url.errors %}
            <ul class="errors">
                {% for error in form.box_art_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.more_info_url.label }}</label>
            {{ form.more_info_url }}
            {% if form.more_info_url.errors %}
            <ul class="errors">
                {% for error in form.more_info_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row reddit-row">
            <label>{{ form.reddit_id.label }}</label>
            {{ form.reddit_id }}
            {% if form.reddit_id.errors %}
            <ul class="errors">
                {% for error in form.reddit_id.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row reddit-row">
            <label>{{ form.reddit_permalink.label }}</label>
            {{ form.reddit_permalink }}
            {% if form.reddit_permalink.errors %}
            <ul class="errors">
                {% for error in form.reddit_permalink.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.reddit_username.label }}</label>
            {{ form.reddit_username }}
            {% if form.reddit_username.errors %}
            <ul class="errors">
                {% for error in form.reddit_username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row">
            <label>{{ form.open_for_comments.label }}</label>
            {{ form.open_for_comments }}
            {% if form.open_for_comments.errors %}
            <ul class="errors">
                {% for error in form.open_for_comments.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-row form-submit">
            <input type="submit" value="Submit" />
        </div>
    </form>

</div>

{% endblock %}
