{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {{super()}}

    {% if community_reviews %}
    {% import "community_review_macros.html" as community_review_macros %}

    {% for community_review in community_reviews %}

    <div class="list-item{% if loop.last %} last{% endif %}">

        {{ community_review_macros.loop(community_review, False) }}

    </div>

    {% endfor %}

    {% else %}
    <p><strong>Sorry, there are no Community Ratings for this category yet.</strong></p>
    {% endif %}

</div>    
{% endblock %}
