{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="col-sm-12">
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endwith %}

{% if error %}
<div class="col-sm-12">
    <div class="error">
        {{ error }}
    </div>
</div>
{% endif %}
