{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

        <p>RedditReviewBot is a 3rd party reddit app that allows redditors to create Community Reviews of anything by commenting on reddit posts using a specific review format. Here is how it works:</p>

        <h3>1. Create a review thread on reddit</h3>
       
        <p>A thread is posted to reddit specifiying what is being reviewed and provides instructions on how to contribute a review.</p>
        
        <h3>2. Redditors submit reviews by leaving comments</h3>
       
        <p>Using a specified format, redditors can leave a review in the comment section of the thread. Reviews consist of a Rating (1 to 10, integers only) and a Review.</p>
        
        <p><strong>This is the format for leaving a review in the comments section:</strong></p>

        <div class="review-format well">
            
            <p><strong>Rating:</strong> [Provide a rating from 1 to 10 here, integers only, required]</p>

            <p><strong>Review:</strong></p>
            
            <p>[Write your review here, keep it short &amp; focus on your experience, optional]</p>

            <p>---</p>

            <p>If you want to say something in your comment that is not part of your review, use a horizontal rule ("---") to divide your review from your non-review comments.</p>
            
        </div>

        <h3>3. /u/RedditReviewBot scans for comments and pulls reviews into a database</h3>
        <p>The user reviews are aggregated by a crawler script to create the Community Review. The Community Review is displayed on this website and features an average rating, the top user reviews (based on reddit score), and other relevant information.</p>

        <hr />

        <p><strong>If you have any questions or ideas, <a href="http://www.reddit.com/message/compose/?to=redditreviewbot" target="_blank">send me a PM</a> or a <a href="http://twitter.com/redditreviewbot" target="_blank">tweet</a>.</strong></p>

        <p><strong><a href="{{ url_for('about') }}">Click here to learn more about RedditReviewBot and why I created it.</a></strong></p>
    
{% endblock %}
