{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

        <p>RedditReviewBot is a 3rd party reddit app that enables subreddits to rate and review things together and then catalogs the reviews on this website. Here is how it works:</p>

        <h3>1. Create a "review thread" on reddit</h3>
       
        <p>In a typical review thread, users post their reviews of something as comments on the thread. RedditReviewBot threads are similar, except they instruct users to post their reviews in a specific, yet simple format.</p>
        
        <h3>2. Redditors submit reviews by leaving comments</h3>
       
        <p>Using a specified format, redditors can leave a review in the comment section of the thread. Reviews consist of a Rating and a Review.</p>
        
        <p><strong>This is the format for leaving a review in the comments section:</strong></p>

        <div class="review-format well">
            
            <p><strong>Rating:</strong> [Provide a rating from 1 to 10 here, integers only, required]</p>

            <p><strong>Review:</strong></p>
            
            <p>[Write your review here, keep it short &amp; focus on your experience, optional]</p>

            <p>---</p>

            <p>verifyreview<br />(include 'verifyreview' after the horizontal rule if you want to be notified when you review is parsed)</p>

            <p>Anything you put under the horizontal rule ("---") will not be parsed by the bot.</p>
            
        </div>

        <h3>3. /u/RedditReviewBot catalogs the review thread and calculates an average rating</h3>
        <p>A crawler script aggregates the user reviews into a single "Community Review". The Community Review is cataloged on this website and features an average rating and other relevant information about the Community Review.</p>

        <hr />

        <p><strong>If you have any questions or ideas, <a href="http://www.reddit.com/message/compose/?to=redditreviewbot" target="_blank">send me a PM</a> or a <a href="http://twitter.com/redditreviewbot" target="_blank">tweet</a>.</strong></p>

        <p><strong><a href="{{ url_for('about') }}">Click here to learn more about RedditReviewBot and why we created it.</a></strong></p>
    
{% endblock %}
