{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {{super()}}

    {% if community_reviews %}

    {% for community_review in community_reviews %}

    <div class="list-item">

        <h3><a href="{{ url_for('community_review', category_slug=community_review.category.slug, community_review_slug=community_review.slug) }}">{{ community_review.title }}</a></h3>

        <ul class="details">

            <li>
                Posted on {{ community_review.date_posted.strftime('%b %d, %Y') }}
                {% if community_review.reddit_permalink %}to <a href="{{ community_review.reddit_permalink }}" target="_blank">r/{{ community_review.subreddit }}</a>{% endif %}
            </li>

            <li><span class="detail-label">Category:</span> &nbsp; {{ community_review.category }}</li>

            {% if community_review.user_reviews %}
            <li><span class="detail-label">Community Rating:</span> &nbsp; <span class="highlight">{{ community_review.get_avg_rating() }}</span> out of 10</li>

            <li><span class="detail-label">Total Reviews:</span> &nbsp; <span class="highlight">{{ community_review.get_review_count() }}</span>
            {% endif %}

            {% if community_review.groups %}
            <li><span class="detail-label">Grouped in:</span> &nbsp;
            {% for group in community_review.groups %}
            {{ group }}
            {% endfor %}
            {% endif %}
            </li>
        </ul>
        
        <a class="more" href="{{ url_for('community_review', category_slug=community_review.category.slug, community_review_slug=community_review.slug) }}">See more details and user reviews</a>

    </div>

    {% endfor %}

    {% endif %}

</div>    
{% endblock %}
