{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {{super()}}

    {% if community_reviews %}

    {% for community_review in community_reviews %}

    <div class="list-item{% if loop.last %} list-item-last{% endif %}">

        <h3><a href="{{ url_for('community_review', category_slug=community_review.category.slug, community_review_slug=community_review.slug) }}">{{ community_review.title }}</a></h3>

        {% import "community_review_details.html" as details %}
        {{ details.community_review_details(community_review, False) }}

        <a class="more" href="{{ url_for('community_review', category_slug=community_review.category.slug, community_review_slug=community_review.slug) }}">Read User Reviews</a>

    </div>

    {% endfor %}

    {% endif %}

</div>    
{% endblock %}
