{% extends "my_base.html" %}

{% block page_content %}
<div class="listing">

    {{super()}}

    {% if subreddits %}

    {% for subreddit in subreddits %}

    <div class="list-item{% if loop.last %} last{% endif %}">

        <strong><a href="{{ url_for('subreddit', subreddit=subreddit[0]) }}">{{ subreddit[0] }}</a></strong>

    </div>

    {% endfor %}

    {% endif %}

</div>    
{% endblock %}

{% block sidebar %}

{% include 'sidebar_create_rating.html' %}
{% include 'sidebar_connect.html' %}
{% include 'sidebar_about.html' %}
{% include 'sidebar_feedback.html' %}

{% endblock %}
