{% extends "my_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{{super()}}

<p>You must login with your reddit account before you can create or manage a Community Rating. Click the button below to start the login process. You will be redirected to reddit.com and asked to give "redditratings" access to your reddit account.</p>

<p><strong>RedditRatings.com will not have access to your reddit password during this login process. For more info, <a href="{{ url_for('privacy') }}">read our privacy policy</a>.</strong></p>

<a id="login-reddit" href="{{ oauth_link }}"></a>

{% endblock %}
