{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="en"{% endblock %}

{% import "bootstrap/google.html" as google %}

{% block head %}
{{super()}}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Use RedditRatings.com to auto-create community ratings in any subreddit.">

{{fixes.ie8()}}

{% if config['FAVICON_URL'] %}
<link rel="icon" 
      type="image/png" 
      href="{{ config['FAVICON_URL'] }}" />
{% endif %}

{{google.uanalytics(id=config['GA_TRACKING_ID'],
                    domain=config['GA_DEFAULT_URL'])}}

{% endblock %}

{% block title %}{% if title %}{{ title }} | {% endif %}{{ config['APP_NAME'] }}.com{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config['APP_NAME'] }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% set thread_endpoints = ['index', 'list_categories', 'list_subreddits', 'list_tags', 'thread', 'tag', 'subreddit', 'category'] %}
            <li class="dropdown{% if request.endpoint in thread_endpoints %} active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community Ratings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li{% if 'index' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('index') }}">Latest</a></li>
                    <li{% if 'list_categories' == request.endpoint or 'category' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('list_categories') }}">By Category</a></li>
                    <li{% if 'list_subreddits' == request.endpoint or 'subreddit' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('list_subreddits') }}">By Subreddit</a></li>
                    <li{% if 'list_tags' == request.endpoint or 'tag' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('list_tags') }}">By Tag</a></li>
                </ul>
            </li>
            <li{% if 'how_it_works' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('how_it_works') }}">How It Works</a></li>
            <li{% if 'about' == request.endpoint %} class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('create_thread') }}">Create a Rating</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">Reddit Login</a>
            </li>
            {% endif %}
            {% if session.logged_in %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('admin_logout') }}">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>{% endblock %}


{% block content %}
<div id="content">
    <div class="container">

    {% include 'flash.html' %}

    <div class="row">

        <div id="main" class="col-sm-8"> 
        {% block page_content %}

            {% if page_title %}
            <div class="page-header"><h2>{{ page_title }}</h2></div>
            {% endif %}

        {% endblock %}
        </div>

        <div id="sidebar" class="col-sm-4">
        {% block sidebar %}
        {% endblock %}
        </div>

    </div>

    </div>
</div>

<div id="footer">
    <div class="container">
    {% block footer %}
    <p>{{ config['APP_NAME'] }} is a <a href="http://groupsrc.com" target="_blank">GroupSRC.com</a> project. The code for RedditRatings is under the GNU General Public License and can be found <a href="https://github.com/davedg629/redditratings" target="_blank">here</a>.</p>
    <p>{{ config['APP_NAME'] }} is not affiliated with reddit inc. Read our <a href="{{ url_for('privacy') }}">privacy policy</a>.</p>
    {% endblock %}
    </div>
</div>

{% endblock %}
