<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    <div class="sidebar-module sidebar-module-inset">

        <h4>About</h4>
        <p>Reddit Game Reviews allows redddit communities to create Community Reviews of video games.</p>
        <p><a class="more" href="{{ url_for('about') }}">Learn More</a></p>

    </div>

    <div class="sidebar-module">

        <h4>Create Your Own Review</h4>
        <p>Currently, there is no way to create your own Reddit Game Review through this application, however, you can <a href="http://groupsrc.com/contact/" target="_blank">email me</a> and we can work together to make it happen.</p>
        <p>Also, feel free to <a href="https://github.com/davedg629/reddit-game-reviews" target="_blank">download the code from github</a> to have full control over the app.</p>

    </div>


    <div class="sidebar-module">

        <h4>The Subreddits</h4>
        <p>We will primarily experiment with Reddit Game Reviews in the following subreddits:</p>
        <ul>
            <li><a href="http://reddit.com/r/3ds" target="_blank">/r/3DS</a></li>
            <li><a href="http://reddit.com/r/pcgaming" target="_blank">/r/PCGaming</a></li>
            <li><a href="http://reddit.com/r/ps4" target="_blank">/r/PS4</a></li>
            <li><a href="http://reddit.com/r/wiiu" target="_blank">/r/WiiU</a></li>
            <li><a href="http://reddit.com/r/xboxone" target="_blank">/r/XboxOne</a></li>
        </ul>

    </div>

</div>
