<div class="sidebar-module">

    <h4>Feedback</h4>
    <p>If you see any issues or have an idea for RedditRatings, please <a href="http://reddit.com/r/{{ config['APP_NAME'] }}" target="_blank">post it to /r/{{ config['APP_NAME'] }}</a> or <a href="http://www.reddit.com/message/compose/?to={{ config['APP_NAME'] }}&subject=Feedback" target="_blank">send me a pm on reddit</a>.</p>
    <p>If want to help implement features and fix issues, <a href="https://github.com/davedg629/{{ config['APP_NAME'] }}" target="_blank">check out the code on github</a>.</p>

</div>
