{% extends "my_base.html" %}

{% block page_content %}

<div id="profile-content">

    {% if threads %}
    <div class="listing" id="active-threads">

        <h3>Rating Threads created by <em>{{ user.username }}</em></h3>

        {% import "thread_macros.html" as thread_macros %}

        {% for thread in threads %}

        <div class="list-item{% if loop.last %} last{% endif %}">

            {{ thread_macros.loop(thread, False) }}

        </div>
        
        {% endfor %}

    </div>
    {% endif %}

    <div class="listing comments" id="user-comments">

        <h3>Ratings submitted by <em>{{ user.username }}</em></h3>

        {% import "comment_macros.html" as comment_macros %}

        {% for comment in user.comments %}
        <div class="comment{% if loop.last %} last{% endif %}">

            {{ comment_macros.comment_list_loop(comment) }}

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block sidebar %}

<div class="sidebar-module well">

    <h4>User Stats: <a href="http://reddit.com/user/{{ user.username }}" target="_blank">{{ user.username }}</a></h4>

    <ul class="details">

        <li><span class="detail-label">Rating Threads Created:</span> &nbsp; {{ user.get_thread_count() }}</li>
        <li><span class="detail-label">Ratings Submitted:</span> &nbsp; {{ user.get_comment_count() }}</li>
        <li><span class="detail-label">Average Rating:</span> &nbsp; {{ user.get_avg_rating() }} out of 10</li>

    </ul>

</div>

{{ super() }}

{% endblock %}
